fontes/NFe.Components/Web References/PItatingaSP/PItatingaSP-GeisWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:http://www.geisweb.net.br/itatinga/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:http://www.geisweb.net.br/itatinga/webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:http://www.geisweb.net.br/itatinga/webservice">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="ItensConsulta">
        <xsd:sequence>
          <xsd:element name="Numero" type="xsd:string" />
          <xsd:element name="DtInicial" type="xsd:string" />
          <xsd:element name="DtFinal" type="xsd:string" />
          <xsd:element name="NumeroInicial" type="xsd:string" />
          <xsd:element name="NumeroFinal" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConsultaNota">
        <xsd:sequence>
          <xsd:element name="Usuario" type="xsd:string" />
          <xsd:element name="Senha" type="xsd:string" />
          <xsd:element name="Consulta" type="tns:ItensConsulta" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensIdentificacaoNfse">
        <xsd:sequence>
          <xsd:element name="Numero" type="xsd:string" />
          <xsd:element name="CodigoVerificacao" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensValores">
        <xsd:sequence>
          <xsd:element name="ValorServicos" type="xsd:string" />
          <xsd:element name="IssRetido" type="xsd:string" />
          <xsd:element name="ValorIss" type="xsd:string" />
          <xsd:element name="BaseCalculo" type="xsd:string" />
          <xsd:element name="Aliquota" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensServico">
        <xsd:sequence>
          <xsd:element name="Valores" type="tns:ItensValores" />
          <xsd:element name="ItemListaServico" type="xsd:string" />
          <xsd:element name="CodigoTributacaoMunicipio" type="xsd:string" />
          <xsd:element name="Discriminacao" type="xsd:string" />
          <xsd:element name="MunicipioPrestacaoServico" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensIdentificacaoPrestador">
        <xsd:sequence>
          <xsd:element name="Cnpj" type="xsd:string" />
          <xsd:element name="InscricaoMunicipal" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensEndereco">
        <xsd:sequence>
          <xsd:element name="Rua" type="xsd:string" />
          <xsd:element name="Numero" type="xsd:string" />
          <xsd:element name="Bairro" type="xsd:string" />
          <xsd:element name="Cidade" type="xsd:string" />
          <xsd:element name="Estado" type="xsd:string" />
          <xsd:element name="Cep" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensContato">
        <xsd:sequence>
          <xsd:element name="Telefone" type="xsd:string" />
          <xsd:element name="Email" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensPrestadorServico">
        <xsd:sequence>
          <xsd:element name="IdentificacaoPrestador" type="tns:ItensIdentificacaoPrestador" />
          <xsd:element name="RazaoSocial" type="xsd:string" />
          <xsd:element name="Endereco" type="tns:ItensEndereco" />
          <xsd:element name="Contato" type="tns:ItensContato" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensIdentificacaoTomador">
        <xsd:sequence>
          <xsd:element name="Cnpj" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensEnderecoTomador">
        <xsd:sequence>
          <xsd:element name="Rua" type="xsd:string" />
          <xsd:element name="Numero" type="xsd:string" />
          <xsd:element name="Bairro" type="xsd:string" />
          <xsd:element name="Cidade" type="xsd:string" />
          <xsd:element name="Estado" type="xsd:string" />
          <xsd:element name="Cep" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensTomadorServico">
        <xsd:sequence>
          <xsd:element name="IdentificacaoTomador" type="tns:ItensIdentificacaoTomador" />
          <xsd:element name="RazaoSocial" type="xsd:string" />
          <xsd:element name="Endereco" type="tns:ItensEnderecoTomador" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensOrgaoGerador">
        <xsd:sequence>
          <xsd:element name="CodigoMunicipio" type="xsd:string" />
          <xsd:element name="Uf" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensOutrosImpostos">
        <xsd:sequence>
          <xsd:element name="Pis" type="xsd:string" />
          <xsd:element name="Cofins" type="xsd:string" />
          <xsd:element name="Csll" type="xsd:string" />
          <xsd:element name="Irff" type="xsd:string" />
          <xsd:element name="Inss" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensNfse">
        <xsd:sequence>
          <xsd:element name="IdentificacaoNfse" type="tns:ItensIdentificacaoNfse" />
          <xsd:element name="DataEmissao" type="xsd:string" />
          <xsd:element name="Regime" type="xsd:string" />
          <xsd:element name="Competencia" type="xsd:string" />
          <xsd:element name="Servico" type="tns:ItensServico" />
          <xsd:element name="PrestadorServico" type="tns:ItensPrestadorServico" />
          <xsd:element name="TomadorServico" type="tns:ItensTomadorServico" />
          <xsd:element name="OrgaoGerador" type="tns:ItensOrgaoGerador" />
          <xsd:element name="OutrosImpostos" type="tns:ItensOutrosImpostos" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Nfse">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:ItensNfse[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MsgConsultaNota">
        <xsd:sequence>
          <xsd:element name="Erro" type="xsd:int" />
          <xsd:element name="Status" type="xsd:string" />
          <xsd:element name="Notas" type="tns:ConjuntoMsgConsultaNota" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensTomador">
        <xsd:sequence>
          <xsd:element name="CnpjCpfTomador" type="xsd:string" />
          <xsd:element name="TipoTomador" type="xsd:string" />
          <xsd:element name="RazaoTomador" type="xsd:string" />
          <xsd:element name="EnderecoTomador" type="xsd:string" />
          <xsd:element name="BairroTomador" type="xsd:string" />
          <xsd:element name="CidadeTomador" type="xsd:string" />
          <xsd:element name="EstadoTomador" type="xsd:string" />
          <xsd:element name="CEPTomador" type="xsd:string" />
          <xsd:element name="TelefoneTomador" type="xsd:string" />
          <xsd:element name="EmailTomador" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensLote">
        <xsd:sequence>
          <xsd:element name="NumeroRps" type="xsd:int" />
          <xsd:element name="Serie" type="xsd:string" />
          <xsd:element name="Tipo" type="xsd:string" />
          <xsd:element name="TipoLcmto" type="xsd:string" />
          <xsd:element name="CodServ" type="xsd:int" />
          <xsd:element name="DtEmissao" type="xsd:string" />
          <xsd:element name="Valor" type="xsd:string" />
          <xsd:element name="BaseCalc" type="xsd:string" />
          <xsd:element name="Tomador" type="tns:ItensTomador" />
          <xsd:element name="Municipio" type="xsd:string" />
          <xsd:element name="DtLanc" type="xsd:string" />
          <xsd:element name="Descricao" type="xsd:string" />
          <xsd:element name="OutrosImp" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConjuntoLotes">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:ItensLote[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EnviaLoteRPS">
        <xsd:sequence>
          <xsd:element name="Usuario" type="xsd:string" />
          <xsd:element name="Senha" type="xsd:string" />
          <xsd:element name="NumeroLote" type="xsd:string" />
          <xsd:element name="Rps" type="tns:ConjuntoLotes" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Msg">
        <xsd:sequence>
          <xsd:element name="Erro" type="xsd:int" />
          <xsd:element name="Status" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItensMsgConsultaNota">
        <xsd:sequence>
          <xsd:element name="NumeroNfse" type="xsd:int" />
          <xsd:element name="CnpjPrestador" type="xsd:string" />
          <xsd:element name="RazaoPrest" type="xsd:string" />
          <xsd:element name="TipoPrest" type="xsd:string" />
          <xsd:element name="EmailPrest" type="xsd:string" />
          <xsd:element name="Tomador" type="xsd:string" />
          <xsd:element name="RazaoTomador" type="xsd:string" />
          <xsd:element name="ValorNfse" type="xsd:string" />
          <xsd:element name="BaseCalc" type="xsd:string" />
          <xsd:element name="Aliquota" type="xsd:string" />
          <xsd:element name="ISSDevido" type="xsd:string" />
          <xsd:element name="ISSRetido" type="xsd:string" />
          <xsd:element name="Impostos" type="xsd:string" />
          <xsd:element name="Tipo" type="xsd:string" />
          <xsd:element name="TipoLcmto" type="xsd:string" />
          <xsd:element name="FgEmit" type="xsd:int" />
          <xsd:element name="FgEmail" type="xsd:int" />
          <xsd:element name="CodVerificacao" type="xsd:string" />
          <xsd:element name="DtEmissao" type="xsd:string" />
          <xsd:element name="Competencia" type="xsd:string" />
          <xsd:element name="CodServ" type="xsd:string" />
          <xsd:element name="DescServ" type="xsd:string" />
          <xsd:element name="Descricao" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConjuntoMsgConsultaNota">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:ItensMsgConsultaNota[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CancelaNota">
        <xsd:sequence>
          <xsd:element name="Usuario" type="xsd:string" />
          <xsd:element name="Senha" type="xsd:string" />
          <xsd:element name="Numero" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MsgCancelaNota">
        <xsd:sequence>
          <xsd:element name="Erro" type="xsd:int" />
          <xsd:element name="Status" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConsultaUltNFSe">
        <xsd:sequence>
          <xsd:element name="Usuario" type="xsd:string" />
          <xsd:element name="Senha" type="xsd:string" />
          <xsd:element name="CnpjCpf" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MsgConsultaUltNFSe">
        <xsd:sequence>
          <xsd:element name="Erro" type="xsd:int" />
          <xsd:element name="Status" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaNotaGeisRequest">
    <wsdl:part name="ConsultaNota" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaNotaGeisResponse">
    <wsdl:part name="MsgConsultaNota" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="EnviaLoteRPSRequest">
    <wsdl:part name="EnviaLoteRPS" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="EnviaLoteRPSResponse">
    <wsdl:part name="Msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaNotaRequest">
    <wsdl:part name="ConsultaNota" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaNotaResponse">
    <wsdl:part name="MsgConsultaNota" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CancelaNotaRequest">
    <wsdl:part name="CancelaNota" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CancelaNotaResponse">
    <wsdl:part name="MsgCancelaNota" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaUltNFSeRequest">
    <wsdl:part name="ConsultaUltNFSe" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaUltNFSeResponse">
    <wsdl:part name="MsgConsultaUltNFSe" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="GeisWebServicePortType">
    <wsdl:operation name="ConsultaNotaGeis">
      <documentation>
      </documentation>
      <wsdl:input message="tns:ConsultaNotaGeisRequest" />
      <wsdl:output message="tns:ConsultaNotaGeisResponse" />
    </wsdl:operation>
    <wsdl:operation name="EnviaLoteRPS">
      <documentation>Envia Lote de RPS para ser convertido em NFSe</documentation>
      <wsdl:input message="tns:EnviaLoteRPSRequest" />
      <wsdl:output message="tns:EnviaLoteRPSResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaNota">
      <documentation>
      </documentation>
      <wsdl:input message="tns:ConsultaNotaRequest" />
      <wsdl:output message="tns:ConsultaNotaResponse" />
    </wsdl:operation>
    <wsdl:operation name="CancelaNota">
      <documentation>
      </documentation>
      <wsdl:input message="tns:CancelaNotaRequest" />
      <wsdl:output message="tns:CancelaNotaResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaUltNFSe">
      <documentation>
      </documentation>
      <wsdl:input message="tns:ConsultaUltNFSeRequest" />
      <wsdl:output message="tns:ConsultaUltNFSeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeisWebServiceBinding" type="tns:GeisWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ConsultaNotaGeis">
      <soap:operation soapAction="urn:http://www.geisweb.net.br/itatinga/webservice#ConsultaNotaGeis" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaLoteRPS">
      <soap:operation soapAction="urn:http://www.geisweb.net.br/itatinga/webservice#EnviaLoteRPS" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNota">
      <soap:operation soapAction="urn:http://www.geisweb.net.br/itatinga/webservice#ConsultaNota" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaNota">
      <soap:operation soapAction="urn:http://www.geisweb.net.br/itatinga/webservice#CancelaNota" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaUltNFSe">
      <soap:operation soapAction="urn:http://www.geisweb.net.br/itatinga/webservice#ConsultaUltNFSe" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:http://www.geisweb.net.br/itatinga/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeisWebService">
    <wsdl:port name="GeisWebServicePort" binding="tns:GeisWebServiceBinding">
      <soap:address location="http://geisweb.net.br/itatinga/webservice/GeisWebServiceImpl.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>